*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: black;
  border-radius: 80px;
        width: 450px;
        height: 900px;
        margin: 150px auto;
        position: relative;

    
}
.box img{
    position: absolute;
    margin-left: 180px;
    margin-top: 30px;
}
.container{
    color:white;
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(5,85px);
    background-color: black;
    padding: 300px 20px 20px 20px;
    justify-content:center;
    gap: 20px;
    font-weight: 800;
    font-size: 40px;
    border-radius: 80px;
 
}

.tus{
    display: flex;
    background-color: rgb(47, 45, 45);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
.tus:hover{
    color:black;
    background-color: wheat;
    cursor: pointer;
}

.orange{
    background-color: orange;
}
.orange:hover{
    color:black;
    background-color: wheat;
    cursor: pointer;
}

.tusonof{
    background-color: aliceblue;
    color: black;
}

.tusonof:hover{
background-color: orange;
color:rgb(255, 251, 251);
cursor: pointer;
}

.zero{
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 60px;

}


.item18 span{
margin-bottom: 15px;
}
